h1 {
  color: #121212;
  font-size: 2rem;
  text-align: center;
}

.add-main {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

button {
  width: 100%;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  margin-left: -15rem;
}

.information {
  margin-top: 20px;
  width: 100vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.information p {
  font-size: large;
  font-weight: 400;
  color: #121212;
}
